{{#if successMsg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{{ successMsg }}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if DummyUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  種子使用者的帳號密碼已自動填入。
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if failureMsg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{{ failureMsg }}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}