{{#if successMsg}}
<div class="my-2 alert alert-success alert-dismissible fade show" role="alert">
  {{{ successMsg }}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if DummyUser}}
<div class="my-2 alert alert-success alert-dismissible fade show" role="alert">
  seed user crendential is auto-filled
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if failureMsg}}
<div class="my-2 alert alert-danger alert-dismissible fade show" role="alert">
  {{{ failureMsg }}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}