<div class="container d-flex flex-column my-3 w-50">
  <select class="form-select">
    <option selected>依類別篩選</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>
  <div class="d-flex my-3">
    <span class="me-4 fs-4">總金額:</span>
    <span class="fs-1 align-top text-danger">25000</span>
  </div>
  <table class="table table-striped table-hover align-middle">
    <tbody>
      <tr>
        <td class="text-center">
          <i class="fa-solid fa-house fa-2xl"></i>
        </td>
        <td>
          <div class="d-flex flex-column m-0 p-0">
          <span class="fs-4">家庭支出</span>
          <span id="total-amount" class="fs-6">2022-06-19</span>
          </div>
        </td>
        <td class="text-end">123456789</td>
        <td class="text-end">
          <a href="/records/:id/edit" class="btn btn-outline">
            修改
          </a>
        </td>
        <td class="text-end">
          <a href="/records/:id?_method=DELETE" class="btn btn-outline">
            刪除
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/records/new" class="btn btn-danger">新增支出</a>
</div>