<main class="container">
  <header class="my-2">
    <h1>請登入</h1>
  </header>
  <form method="post" action="/users/login">
    <div class="form-floating mb-3">
      <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" value="{{dummyUserEmail}}">
      <label for="email">電子信箱</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      <label for="password">密碼</label>
    </div>
    <div class="container d-flex flex-column mb-3 p-0">
    <button type="submit" class="btn btn-success mb-3">登入</button>
    <p>
      不是會員嗎？
      <a href="/users/register" class="btn btn-primary mb-3">立即免費註冊</a>
    </p>
    </div>
  </form>
</main>