<main class="container">
  <header class="my-2">
    <h1>Member Registration</h1>
  </header>
  {{>message}}
  <form method="post" action="/users/register">
    <fieldset class="form-group mb-3">
      <legend>Login Information</legend>
      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com"
          value="{{userInput.email}}">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" autocomplete="new-password">
        <label for="password">Passowrd</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password">
        <label for="confirmPassword">Confirm Password</label>
      </div>
    </fieldset>
    <fieldset class="form-group mb-3">
      <legend>Profile</legend>
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="name" placeholder="full name"
          value="{{userInput.name}}">
        <label for="name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="displayName" class="form-control" id="displayName" placeholder="display name" value="{{userInput.displayName}}">
        <label for="displayName">Display Name</label>
      </div>
    </fieldset>
    <div class="container d-flex flex-column mb-3 p-0">
      <button type="submit" class="btn btn-success mb-3">Register</button>
      <a href="/" class="btn btn-danger mb-3">Cancel</a>
    </div>
  </form>
</main>